<!-- <meta name="twitter:site" content="@{{ site.twitter_username }}" />
<meta name="twitter:title" content="{{ page.title }}" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="og:image" content="{{ site.title_image }}" /> -->

<!-- {% if page.image %}
<meta name="twitter:image" content="{{ site.url }}{{ page.image }}"></meta>
{% else %}
<meta name="twitter:image" content="https://fnbudiman.github.io/images/title-image.png"></meta>
{% endif %} -->

<meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="fnbudiman.github.io">
  <meta property="twitter:url" content="https://fnbudiman.github.io/notes/induktor-dan-kapasitor-dalam-domain-laplace/">
  <meta name="twitter:title" content="Induktor dan Kapasitor dalam Domain Laplace">
  <meta name="twitter:description" content="Salah satu kegunaan transformasi model induktor dan kapasitor ke domain \(s\) berguna adalah untuk menyederhanakan analisis rangkaian, terutama rangkaian orde dua. Dalam domain \(s\), operasi derivative bisa dihindari dan digantikan dengan operasi aljabar biasa.">
  <meta name="twitter:image" content="https://fnbudiman.github.io/images/inductor-series-laplace.jpg">