---
layout: default_blog
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h2 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h2>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <!--{{ page.date | date: date_format }}-->
        {%- if page.last_modified_at -%}
            Originally published on: {{ page.date | date: date_format }} | Last updated: {{ page.last_modified_at | date: date_format }}
        {%- else -%}
            {{ page.date | date: date_format }}
        {%- endif -%}
      </time>
      {% if page.categories.size > 0 %}
        {% if page.categories %} |
          {% for category in page.categories %}
            <a class="post-category" href="{{ site.baseurl }}/archive-categories/#{{ category | slugify }}">{{ category }}</a>
          {% endfor %}
        {% endif %}
      {% endif %}
      {% if page.tags.size > 0 %}
        {% if page.tags %} |
          {% for tag in page.tags %}
            <a class="post-tag" href="{{ site.baseurl }}/archive-tags/#{{ tag | slugify }}">{{ tag }}</a>
          {% endfor %}
        {% endif %}
      {% endif %}
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <p>---</p>

  {% if page.categories.size > 0 %}
    Blog archive: <a href="{{ site.baseurl }}/archive-years">Years</a> / <a href="{{ site.baseurl }}/archive-categories">Categories</a> / <a href="{{ site.baseurl }}/archive-tags">Tags</a>
  {% endif %}

  <p>&nbsp;</p>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>